DB_URI=mongodb://localhost:27017
DB_NAME=hoizr

# NEXT_PUBLIC_HOIZR_ENV=prod
NEXT_PUBLIC_HOIZR_ENV=dev


REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_TLS=false

PUBLIC_KEY=
PRIVATE_KEY=
ENCRYPTION_KEY=
CLIENT_ENCRYPTION_KEY=
COOKIE_SECRET=

APP_URL=http://localhost:3002
SERVER_URL=http://localhost:4001
PORT=4001
CUSTOMER_CORS_ORIGINS=http://localhost:3002

SERVER_ENV=development

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=replace-me



CLOUDINARY_CLOUD_NAME=duhefgqh4
CLOUDINARY_API_KEY=313511653347428
CLOUDINARY_API_SECRET=

GOOGLE_OAUTH_CLIENT_ID=688018291260-h0075v3i229vch303vg5doa0lhbohhr1.apps.googleusercontent.com
